<h2>Products</h2>
<!--JWT ==] {{jwt}} [==-->
<!--JWTGuest ==] {{jwtGuest}} [==-->


<div>
  <h3>
    Create 4 account
  </h3>

  <button (click)="create4Accounts()">
    create
  </button>
</div>

<div>
  <h3>
    login
  </h3>


    Choose user :
    <select [(ngModel)]="selectedOption">
      <option value="0">user1@test.fr</option>
      <option value="1">user2@test.fr</option>
      <option value="2">user3@test.fr</option>
      <option value="3">user4@test.fr</option>
    </select>
  <button (click)="login()">
    Login
  </button>
</div>

<div *ngIf="userId && !chat">
  <h3>
    Create chat
  </h3>

  <button (click)="createChat()">
    create chat
  </button>
</div>

<div *ngIf="userId" >
  Text pour tester socket : <input (keypress)="writing()">
</div>




<!-- GUEST LOGIC -->
<!-- GUEST LOGIC -->
<!-- GUEST LOGIC -->
<!-- GUEST LOGIC -->

<!--&#45;&#45;&#45;&#45;-->
<!--<h3>-->
<!--  <a [title]="'guest details'">-->
<!--    guest-->
<!--  </a>-->
<!--</h3>-->

<!--<button (click)="registerGuest()">-->
<!--  RegisterGuest-->
<!--</button>-->


<!--<button (click)="loginGuest()">-->
<!--  loginguest-->
<!--</button>-->

<!--<button (click)="logout()">-->
<!--  LOGOUT-->
<!--</button>-->




<!--<form ngNoForm method="POST" action="" enctype="multipart/form-data" #fileFormTest #form >-->
<!--  <label for="file">File:</label>-->
<!--  <input type="file" name="file_data" id="file" (change)="getSize($event)">-->
<!--  <br>-->
<!--  <label for="name">Filename:</label>-->
<!--  <input type="text" name="name" id="name" (change)="getName($event)">-->
<!--  <button type="submit" name="submit" value="Submit" [disabled]="!valid" (click)="onSubmit()">Submit FORM</button>-->
<!--</form>-->
<!--<br>-->
<!--<button name="submit" value="Submit" [disabled]="!valid" (click)="onSubmit()">Submit XHR</button>-->
<!--<br>-->

<!--<div *ngIf="uploadPercentage >= 0"><progress [value]="uploadPercentage" max="100"></progress>{{uploadPercentage}}% </div>-->

<!--<button (click)="getVimeoForm()">Get vimeo form</button>-->

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->

